[build]
  base = "Landing-Page-Mobiq-2.0"
  command = "npm run build"
  publish = "Landing-Page-Mobiq-2.0/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*.mp4"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
